.results-section {
  width: 100%;
  min-width: 240px;
  height: calc(100vh - 40px * 3 - 20px * 3 - 4rem);
  min-height: 200px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  align-content: start;
  gap: 20px;
  border-radius: 4px;
  overflow-y: auto;
  scrollbar-color: #d4e0e7 #fafbfc;
  word-wrap: break-word;
}

@media screen and (max-width: 240px) {
  .results-section {
    justify-content: start;
  }
}

.results-section:has(.message) {
  display: flex;
}

.message {
  font-size: 1.2rem;
  font-weight: normal;
  color: #787878;
  text-align: center;
}
