.results-section {
  width: 100%;
  height: calc(100vh - 40px - 20px - 40px);
  min-height: 200px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 4px;
  overflow-y: auto;
  scrollbar-color: #d4e0e7 #fafbfc;
  word-wrap: break-word;
}

.not-found {
  font-size: 1.2rem;
  color: #787878;
}
