.results-section {
  width: 100%;
  min-width: 240px;
  height: calc(100vh - 40px * 2 - 20px * 2 - 40px);
  min-height: 200px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  align-content: start;
  gap: 20px;
  border-radius: 4px;
  overflow-y: auto;
  scrollbar-color: #d4e0e7 #fafbfc;
  word-wrap: break-word;
}

@media screen and (max-width: 240px) {
  .results-section {
    justify-content: flex-start;
  }
}

.not-found {
  font-size: 1.2rem;
  color: #787878;
}
