#root {
  width: 100vw;
  max-width: 1280px;
  height: 100vh;
  overflow-y: hidden;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

@media screen and (max-height: 360px) {
  #root {
    overflow-y: auto;
  }
}

@media screen and (max-width: 920px) {
  #root {
    justify-content: flex-start;
  }
}
