#root {
  width: 100vw;
  max-width: 920px;
  height: 100vh;
  overflow-y: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

@media screen and (max-height: 360px) {
  #root {
    overflow-y: auto;
  }
}
