.footer {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 200px) {
  .footer {
    justify-content: flex-start;
  }
}
